/*Align items*/
.align-items-start {
    align-items: flex-start;
}
.align-items-center {
    align-items: center;
}
.align-items-end {
    align-items: flex-end;
}
.align-items-stretch {
    align-items: stretch;
}
.align-items-baseline {
    align-items: baseline;
}
