/*Font size*/
.tittle-font {
    font-size: 2.2rem;
}
.tittle-font-2 {
    font-size: 2.4rem;
}
.tittle-font-3 {
    font-size: 2rem;
}
.tittle-font-5 {
    font-size: 1.8rem;
}
.tittle-font-6 {
    font-size: 1.6rem;
}
.font-large {
    font-size: 1.4rem;
}
.font-medium {
    font-size: 1.2rem;
}
.font-extra-small {
    font-size: 0.6rem;
}
.font-small {
    font-size: 0.8rem;
}
